body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: rgba(0, 0, 0, 1) url('../images/icons/LOGOTEXTO.png') no-repeat center 50px; 
    background-size: contain;
    background-attachment: fixed; 
    background-position: center 50px;
    z-index: -990;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Color de fondo con opacidad */
    z-index: -999; 
    pointer-events: all; 
}

html{
    pointer-events: all; 
}

ul {
    padding: 0;
    margin: 0;
    width: 500px;
}

.header {
    width: 100%;
    height: 100px;
    z-index: 999;
    position: relative;
    top:0px;
    /* sticky on top */
    position:sticky;
    top: 0px;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter:  blur(10px);
    z-index: 1;
    user-select: none;
}

.nav__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    display: none;
    margin-left: auto;
    cursor: pointer;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}


*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header__nav {
    height: 100px;
    width: 100%;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 10px 20px;
    background-color: transparent; /* Añade un color de fondo para la barra de navegación */
}

/* Estilo de los enlaces */
.nav__links {
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    font-size: 15px;
    letter-spacing: 0.5px;
}

/* Estilo del indicador de enlace */
.nav__links:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 50%;
    bottom: -10px;
    transition: width 0.2s ease-in-out;
    transform: translateX(-50%);
}

/* Cambiar color del texto al pasar el ratón */
.nav__links:hover {
    color: #ffff;
}

/* Expandir el indicador al pasar el ratón */
.nav__links:hover:after {
    width: 100%;
}

/* Estilo para el logo y el botón de cierre */
.nav__items--img img, .nav__close {
    height: 100px;
    width: 100px;
}

.nav__link--menu{
    gap: 30px;
}


#particles-js {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: -3;
}

#particles-js {
    pointer-events: all; 
}



/* srcoll bar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

/* FORMULARIO */

form {
    display: flex;
    flex-wrap: wrap;
}

.contact-form h2{
    text-align: center;
}

.form__item{
    width: 50%;
    padding: 5%;

}
.form__item--message{
    width: 100%;
    padding: 5%;
}

.contact-form form input {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #ffffff;
    border-bottom: 1px solid #937f4e;
}

.contact-form form button {
    width: 100%;
    background: #937f4e;
    color: #ffffff;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.contact-form h2{
    margin: 4%;
}



/* Media queries */
@media (max-width:650px) {
    .nav__menu {
        display: block;
    }
    .header__nav{
        min-width: 100%;
    }
    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }
    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    .nav__img{
        position: relative;
        right: 30px;
        top: 30px;
    }
    .nav__items--img{
        display: none;
    }
    .header__nav{
        background-color: #ffffff00;
        backdrop-filter: none;
    }
    .form__item{
        width: 100%;
        padding: 5%;
    }
    .form__item--message{
        width: 100%;
        padding: 5%;
    }
}
