.what-is-stock-connect-section{
  width: 90%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius:22px;
  border-color: var(--grey-brown);
  border-width: 1px;
  border-style: solid;
  min-height: 600px;
  position: relative; 
  margin-bottom: 50px;
  user-select: none;
  pointer-events: all; 
}

.what-is-stock-connect-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  z-index: -2;
}

.what-is-container {
  width: 45%;
  padding: 20px;
}

#what-is-stock-connect-main-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  width: 80%;
}

#what-is-stock-connect-content {
  font-size: 1em;
  line-height: 1.5;
}

.what-is-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#what-is-stock-connect-image {
  max-width: 100%;
  height: auto;
}